@model BollywoodMoviedb.Models.MovieSearchModel

<div>
    <br />
</div>
@using (Html.BeginForm("SearchMovies", "Home", FormMethod.Post, new { id = "SearchMovies" }))
{

    <div class="row">
        <div class="col-md-11">
            @Html.TextBoxFor(x => x.SearchCriteria, new { @autocomplete = "false", @placeholder = "Search for Bollywod movies", @class = "form-control form-control-lg" })
        </div>
        <div class="col-md-1">
            <button type="submit" id="btnSearch" class="btn btn-primary btn-lg">Search</button>
        </div>
    </div>
}


@if (Model != null && Model.MovieResult != null && Model.MovieResult.Count > 0)
{
    <div class="row">
        <br /><br /><br />
    </div>

    int totalMovieRows = Model.MovieResult.Count / 4;
    var movieArray = Model.MovieResult.ToArray();


    for (int rowCount = 0; rowCount < totalMovieRows; rowCount++)
    {

        <div class="row">

            @for (int columnCount = 0; columnCount < 4; columnCount++)
            {

                <div class="col-md-2 row-border">
                    <img src="@Url.Content(movieArray[(rowCount*4)+columnCount].ImageUrl)" class="image" alt="Image" />
                    <h6>@movieArray[(rowCount * 4) + columnCount].Name</h6>
                </div>
                <div class="col-md-1"></div>

            }

        </div>
        <div class="row">
            <br />
        </div>
    }


}
